<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

	<h1 if="data.showHeader !== false">
        <layout-placeholder name="title"/>
    </h1>

	<layout-placeholder name="body"/>

</body>
</html>